*{
    margin: 0;
    padding: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    height: 100vh;
    background-color: rgb(49, 48, 48);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: rgba(20, 20, 20, 0.288);
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgb(54, 53, 53);
    height: 200px;
    width: 550px;
}

.relogio div{
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.623);
    letter-spacing: 3px;
}

.relogio span{
    font-size: bolder;
    font-size: 60px;
}

.relogio span.tempo{
    font-size: 15px;
}